rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Public read access for cards
    match /cards/{cardId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Allow users to read and write their own documents
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow read access to other documents if the user is authenticated
    match /{document=**} {
      allow read: if request.auth != null;
    }
  }
}
